<main id="adminTestimonies" class="container">
    <h2 class="mt-5 pb-2">
        Liste des témoignages
    </h2>                      
    <label for="selectTestimonies">Filtre d'affichage des témoignages</label>
    <form class="m-2" method="POST" action="/Admin/index/" >
        <select name="filterTestimonies" id="selectTestimonies" class="form-select w-auto" value= "2" aria-label="Filtres d'affichage des témoignages" onChange="this.parentNode.submit()" > 
            {% for selectTestimony in selectTestimonies %}
                {% if selectActive == loop.index %}
                    <option selected value={{loop.index}}>{{selectTestimony}}</option> 
                {% else %}
                    <option value={{loop.index}}>{{selectTestimony}}</option> 
                {% endif %}       
            {% endfor %}
        </select>
    </form>
    
    <div class="table-responsive min-vh-100 m-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Email</td>
                    <td>Message</td>
                    <td>Statut</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody> 
            {% for testimony in testimonies %}
                <tr>
                    <td>{{testimony.name}}</td>
                    <td>{{testimony.mail}}</td>
                    <td>{{testimony.message}}</td>
                    <td>{% if testimony.validation == TRUE %}
                        Affiché
                    {% else %}
                        Proposé
                    {% endif %}
                    </td>
                    <td>{% if testimony.validation == FALSE %}
                            <form method="POST" onSubmit="return confirm('Voulez vous afficher ce témoignage côté visiteur ?')" action="/Admin/testimonyStatus/{{testimony.id}}">
                                <button class="btn btn-sm btn-success">Valider</button>
                            </form>
                        {% endif %}
                        <form method="POST" onSubmit="return confirm('Voulez vous supprimer ?')" action="/Admin/deleteTestimony/{{testimony.id}}">
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
