<div id="adminService">
    <div class="container" id="container-admin">
        <div class="row">
            {% for service in services %}
                <div class="card">
                    <div class="card-header">
                        <h3>{{ service.name }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text-center">{{ service.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if service.price1hour == true %}
                            <li class="list-group-item">Tarif 1 heure : {{ service.price1hour }} €</li>
                        {% endif %}
                        {% if service.price30min == true %}
                            <li class="list-group-item">Tarif 30 minutes : {{ service.price30min }} €</li>
                        {% endif %}
                    </ul>
                        <a class="btn btn-sm btn-secondary btn-success button-edit" href="/Admin/editService/{{ service.id }}">Modifier</a>
                        <form method="POST" onSubmit="return confirm('Voulez vous supprimer ?')" action="/Admin/deleteService/{{service.id}}">
                            <button class="btn btn-sm btn-danger button-delete">Supprimer</button>
                        </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-contact">
        <a class="button-services" href="/Admin/addService">Ajouter une prestation</a>
    </div>
</div>
