<form class="form" method= "POST">
    {% if errors %}
        <ul class="errors-ul">
        {% for error in errors %}
            <li class="errors">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="info">
        <label for="name">Nom de la prestation :</label>
        <input id="name" type="text" name="name" placeholder="Nom de la prestation" value="{{ services.name }}" required>
        <label for="price1hour">Tarif 1h :</label>
        <input id="price1hour" type="number" name="price1hour" placeholder="70" value="{{ services.price1hour }}" required>
        <label for="price30min">Tarif 30min (facultatif) :</label>
        <input id="price30min" type="number" name="price30min" placeholder="35" value="{{ services.price30min }}">
    </div>
    <div>
        <label for="description">Votre message (facultatif) :</label>
        <textarea name="description" id="description" rows="4" placeholder="Description du service" required>{{ services.description }}</textarea>
    </div>
    <div class="button-register">
        <button class="send" type="submit">Enregistrer</button>
    </div>
</form>
